/* debug */
.debug {
  background-color: pink;
  border: 1px solid black;
}
/* /debug */

/* mix */
.lezioni, .steps, .why {
  text-align: center;
}
/* mix */

/* typo */
h3 {
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
}
/* typo */



/* sezione lezioni */
.lezioni .mappa_img, .lezioni .laptop_img  {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
}

.lezioni_titolo,
.mappa, .laptop,
.mappa_testo,
.laptop_testo {
  padding: 30px;
}
/* /sezione lezioni */

/* sezione steps */
.steps{
  background-color: #f9f9f9;
}

.steps .cerca_img,
.steps .contatta_img,
.steps .inizia_img {
  height: 150px;
}

.steps_titolo,
.cerca,
.contatta,
.inizia {
  padding: 30px;
}

.cerca_testo,
.contatta_testo,
.inizia_testo {
  margin: 30px 0;
}
/* sezione steps */

/* sezione why */
.why {
  margin-top: 80px;
  background-color: #f9f9f9;
}

.scuola_img,
.garanzia_img,
.flessibilita_img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
  height: 150px;
  margin-bottom: 20px;
}

.why_titolo,
.scuola,
.garanzia,
.flessibilita {
  padding: 30px;
}

.scuola_testo,
.garanzia_testo,
.flessibilita_testo {
  padding: 0 40px;
}
/* /sezione why */

/* RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 991px) {
  hr {
    display: none;
  }
}
/* /RESPONSIVE */
